body{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
background: #f4f4f4;;
}

header{
background: rgb(14, 13, 13);
color: rgb(244, 242, 242);
padding: 20px;
text-align: center;
}

nav{
margin-top: 10px;
}

nav a{
color: rgb(247, 244, 244);
margin: 10px;
text-decoration: none;
font-weight: bold;
}

nav a:hover{
text-decoration: underline;
}

.hero{
background: #e6e6e6;
padding: 40px;
text-align: center;
}

section{
padding: 30px;
}


footer{
background: rgb(25, 25, 25);
color: rgb(247, 239, 239);
text-align: center;
padding: 15px;
margin-top: 5px;
margin-bottom: 10px;
}

button{
background: rgb(16, 16, 16);
color: rgb(241, 237, 237);
padding: 10px 20px;
border: none;
cursor: pointer;
}

button:hover{
background:#333;
}

img{
max-width: 100%;
height: auto;
}

button{
background: rgb(11, 10, 10);
color: rgb(245, 241, 241);
padding: 10px 20px;
border: none;
margin-top: 10px;
cursor: pointer;
}

button:hover{
background: #333;
}

@media (max-width: 768px) {

  header {
    padding: 15px;
  }

  nav a {
    display: block;
    margin: 8px 0;
    text-align: center;
  }

  .hero {
    padding: 20px;
  }

  section {
    padding: 15px;
  }

  button {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
  }

}